@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.bg::before {
  content: ""; /* Required for pseudo-elements to render */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/8486.jpg');
  background-size: cover; /* Or other desired background properties */
  opacity: 0.2; /* Adjust as needed (0.0 to 1.0) */
  z-index: -1; /* Ensures the pseudo-element is behind the content */
}

.Rufus {
  background-color: #659c3f;
}

.Dirus{
  background-color: #d49901;
}

.Arcadian{
  background-color: #6e4f9b;
}

.Timber{
  background-color: #4481c0;
}

.Sawtooth{
  background-color: #ec3e47;
}